body {
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-size: 16px;
}

div {
    box-sizing: border-box;
}

.hidden {
    display: none;
}

.background-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    z-index: -1;
}

.top-banner {
    width: 100%;
    height: max-content;
    padding: 1rem;
    background-color: rgba(5, 5, 5, 0.5);
    margin: 0;
}

.top-banner-text {
    width: 100%;
    height: fit-content;
    padding: 1rem;
    color: white;
    text-align: center;
}

.login {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    max-width: 30rem;
    min-width: 20rem;
    height: auto;
    padding: 10px;
    color: white;
    font-weight: 700;
}

#login-submit {
    background-color: #eee;
    color: #004f98;
    font-weight: 600;
    border: none;
    display: block;
    margin: auto;
    box-shadow: 2px 2px 1px #444;
}

#clock {
    text-align: center;
    padding: 4rem;
    margin: 0;
    font-size: 4rem;
    color: white;
}

.greeting {
    color: white;
    margin-left: 10%;
}

.bottom-content {
    width: 100%;
    color: white;
    background-color: rgba(5, 5, 5, 0.5);
    text-align: center;
    position: fixed;
    bottom: 0;
}

#quote {
    padding: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    word-spacing: 0.2rem;
    font-size: 1.2rem;
    overflow: scroll;
}

#quote p {
    margin-top: 2px;
    margin-bottom: 2px;
}

#weather {
    text-align: right;
    font-size: 0.9rem;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    padding: 1rem;
    margin-right: 15%;
}

.mb-3 input {
    background: transparent;
    border-width: 0.1rem;
    border-color: white;
    color: white;
}

.mb-3 input::placeholder {
    color: white;
}

.toDo {
    width: 80%;
    min-width: 20rem;
    max-width: 40rem;
    height: 200px;
    color: white;
    font-size: 1.2rem;
    border: none;
    background: none;
    margin: auto;
}

#todo-list {
    list-style: none;
    text-align: left;
}

#todo-list button {
    background: none;
    border: none;
    color: red;
    font-weight: 800;
}

.bottomline {
    width: 100%;
}