body {
    margin: 0;
    box-sizing: border-box;
    color: white;
    background-color: grey;
    font-size: 16px;
}

div {
    box-sizing: border-box;
}

.hidden {
    display: none;
}

.background-img {
    width: 100%;
    height: 1200px;
    /* height: 800px; */
    object-fit: cover;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position: center;
    background-attachment: local;
    /* background-attachment: scroll; */
    position: absolute;
    top: 0;
    z-index: -1;
}

.top-banner {
    width: 100%;
    height: 80px;
    background: #222;
    margin-top: 0;
    padding: 20px;
    opacity: 30%;
}

#top-banner-text {
    display: block;
    width: 100%;
    color: white;
    text-align: center;
    position: absolute;
    top: 15px;
}

.login {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    max-width: 30rem;
    min-width: 20rem;
    height: auto;
    padding: 10px;
    color: white;
    font-weight: 700;
}

#login-submit {
    background-color: #eee;
    color: #004f98;
    font-weight: 600;
    border: none;
    display: block;
    margin: auto;
    box-shadow: 2px 2px 1px #444;
}

#clock {
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 2rem;
    font-size: 4rem;
    color: white;
}

.greeting {
    color: white;
    margin-left: 10%;
}

.bottom-content {
    height: fit-content;
    width: 100%;
    color: white;
    background-color: #222;
    opacity: 70%;
    text-align: center;
    position: fixed;
    bottom: 0;
}

#quote {
    padding: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    word-spacing: 0.2rem;
    /* font-size: 20px; */
    font-size: 1.2rem;
    overflow: scroll;
}

#quote p {
    margin-top: 2px;
    margin-bottom: 2px;
}

#weather {
    font-size: 0.9rem;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

.mb-3 input {
    background: transparent;
    border-width: 0.1rem;
    border-color: white;
}

.mb-3 input::placeholder {
    color: white;
}

.toDo {
    width: 80%;
    min-width: 20rem;
    max-width: 40rem;
    height: 200px;
    color: white;
    font-size: 1.2rem;
    border: none;
    background: none;
    margin: auto;
}

#todo-list {
    list-style: none;
    text-align: left;
}

#todo-list button {
    background: none;
    border: none;
    color: red;
    font-weight: 800;
}